<button
    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
    routerLink="../creatBlog">
    creat Blog
</button>

<div class="container mx-auto my-10 sm:px-20  flex justify-center">

    <!--  Post  -->

    <div class=" rounded overflow-hidden border w-full lg:w-6/12 md:w-6/12 bg-white mx-3 md:mx-0 lg:mx-0">

        <!-- User profile start here -->

        <div class="w-full flex justify-between p-3">
            <div class="flex">
                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden" *ngFor="let item of blogList.data.blogs_detail" >
                    <!-- *ngFor="let item of blogList.data.blogs_detail" -->

                </div>
                <span class="pt-1 ml-2 font-bold text-sm"*ngFor="let item of blogList.data.blogs_detail" >{{blogList.data.blogs_detail[2].blog_created_by.name}}</span>
            </div>
            <span class="px-2 hover:bg-gray-300 cursor-pointer rounded"><i
                    class="fas fa-ellipsis-h pt-2 text-lg"></i></span>
        </div>

        <!-- User profile end here -->

        <!-- User Blog img is here -->
        <!-- <div *ngFor="let item of blogList.data.blogs_detail"> -->
            
        </div>


        <div class="px-3 pb-2">

            <!-- User Blog like is here start here -->

            <div class="pt-2">
                <i class="far fa-heart cursor-pointer"></i>
                <span class="text-sm text-gray-400 font-medium">12 likes</span>
            </div>

            <!-- User Blog Comment is here start here -->
            <div class="pt-1">
                <div class="mb-2 text-sm">
                    <span class="font-medium mr-2">braydoncoyer</span> Lord of the Rings is my favorite film-series. One
                    day I'll make my way to New Zealand to visit the Hobbiton set!
                </div>
            </div>
            <div class="text-sm mb-2 text-gray-400 cursor-pointer font-medium">View all 14 comments</div>
            <div class="mb-2">
                <div class="mb-2 text-sm">
                    <span class="font-medium mr-2">razzle_dazzle</span> Dude! How cool! I went to New Zealand last
                    summer and had a blast taking the tour! So much to see! Make sure you bring a good camera when you
                    go!
                </div>
            </div>
        </div>
    </div>